# how to use:
# 1. copy this file to .env
# 2. fill in the values
# 3. from dotenv import load_dotenv
#    load_dotenv() in your code to load the environment variables


HF_ENDPOINT=https://hf-mirror.com

# Hugging Face Hub 的缓存目录, 若设置改变量，则模型会下载至HF_HOME/hub/目录下
HF_HOME=your_hf_home_path

BGE_EMBEDDING_NAME=embedding_model_id
BGE_RERANK_MODEL_NAME=rerank_model_id


LLM_API_KEY = your_llm_api_key
LLM_BASE_URL =  openai_compatible_api_base_url
LLM_MODEL_ID = model_id

SERPAPI_API_KEY=your_serpapi_api_key